<link rel="stylesheet" href="/css/dashboard.css" />
<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"> <strong> Habit Tracker</strong></a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/weekly-details">Weekly</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/log-out">
          <button class="btn btn-primary">Log Out</button>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- container for habits -->
<div class="container" id="box">
  <!-- input to add habits -->

  <div id="add-habit-form" class="rounded bg-blue shadow p-3 mb-5">
    <form action="/dashboard/create-habit" method="POST">
      <div class="form-group">
        <label for="inputAdd">What habit do you want to create?</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="inputAdd"
            name="habit"
            placeholder="Enter the habit name"
            required
          />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-plus"></i> Create Habit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- list for habits -->

  <div>
    <ul class="list-group mt-2" id="habits">
      <%for(let i of habit_list){%>
      <li class="list-group-item shadow habit">
        <div class="habit-info">
          <span id="habit-name"><h4><%= i.habit %></h4> </span>
          <div>
            <form
              action="/weekly-details/update-habit/?id=<%=i._id%>&day=one&val=<%=i.days.one%>"
              method="POST"
              id="streak-container"
            >
              <button class="btn btn-change-status" type="submit">
                <%=i.days.one%>
              </button>
            </form>
            <a
              class="btn btn-danger"
              href="/dashboard/delete-habit/?id=<%=i._id%>"
            >
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
      </li>
      <%}%>
    </ul>
  </div>
</div>
<script type="text/javascript" src="js/dashboard.js"></script>
